/* Add custom styling here */
* {
    font-family: "Freckle Face", serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(15px + 0.390625vw);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
  
main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    color: #ca8e1b;
    padding: 2px;
}

.appRender {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
}
.gameBoard {
    z-index: 0;
    margin: auto;
    list-style: none;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: min(80vw, 80vh);
    height: min(80vw, 80vh);
}
.scoreBoard {
    z-index: 1;
    align-self: flex-end;
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-around;
    width: 100vw;
    height: 15vw;
    max-height: 100px;
    background-color:#cd4945;
    color: #ca8e1b
}
.card {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/7;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style:none;
    border: 5px solid black;
    border-radius: 20px;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.score {
    color:#FFFFFC;
    font-size:2rem;
}

.feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resetButton {
    padding: 10px;
}
.resetButton:hover {
background-color: #ca8e1b;
}

.flipped {
    content-visibility: visible;
  }

.hidden {
    content-visibility: hidden;
  }

/* ALL THE PRETTY COLORS */

.color0 {
    background-color: #cd4945;
}
.color1{
    background-color: #d87620;
}
.color2 {
    background-color: #ca8e1b;
}
.color3{
    background-color: #2d9964;
}
.color4 {
    background-color: #2e7cd1;
}
.color5{
    background-color: #8d5bc1;
}
.color6 {
    background-color: #c94079;
}
.color7{
    background-color: #aa755f;
}
.color8 {
background-color: #d398e7;
}
.color9 {
background-color: #E7D398
}
.color10 {
background-color: #98E7D3
}
.white{
    background-color: #FFFFFC;
}
.gray{
    background-color:#7f7f7f;
}

@media only screen and (max-width: 600px) {
    .gameBoard {
        width: 90vw;
        height: 90vw;
    }
}

@media only screen and (min-width: 600px) {
    .gameBoard {
        width: 80vw;
        height: 80vw;
    }
}

@media only screen and (min-width: 768px) {
    .gameBoard {
        width: 80vh;
        height: 80vh;
    }
}

@media only screen and (min-width: 992px) {
    .gameBoard {
        width: 80vh;
        height: 80vh;
    }
}